.logContainer{
    width: 80%;
    margin-top:30%;
    /* height: 100vh; */
    padding-top: 60px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */

}


.dot {
    height: 400px;
    width: 400px;
    background-color: #fff;
    border-radius: 100%;
    font-size: 100px;
    padding: 10%;
    margin: 10%;
    /* color: #fff; */

    display: inline-block;
  }

  .log{
    /* display: inline-block;
    padding:5%; */
    color: black;
}
